body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

div{
    background-color: rgb(39, 39, 39);
    width: 250px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
        
}


div.konten{
    padding:20px
}

h3{
    color: white;
}

.instruksi{
    color: white;
    
    
}

#username{
        margin-left: 40px;
}

#btn{
    background-color:  red;
    color: white;   
    margin-top: 10px;
    margin-left: 100px;
    
   

}