body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

div{
    border-radius: 2px;
    background-color: rgb(34, 34, 41);
    width: 300px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
        
}


div.konten{
    padding:20px
}

h3{
    color: white;
}

.instruksi{
    margin-left: -20px;
    color: white;
    
    
}

#username{
        width: 300px;
        margin-left: -5px;
}

#btn{
    background-color:  red;
    color: white;   
    width: 80px;
    height: 30px;
    margin-top: 10px;
    margin-left: 107px;
    
   

}